@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}

/* Stile per la stampa della Relazione di calcolo / Preventivo */
@media print {
  .no-print {
    display: none !important;
  }
  .print-break {
    page-break-before: always;
  }
  body {
    @apply bg-white;
  }
}
